---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import SectionTitle from "../components/SectionTitle.astro"
import SocialButton from "../components/SocialButton.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import About from "../components/About.astro"
import Contact from "../components/Contact.astro"

import GitHubIcon from "../icons/GitHub.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import MailIcon from "../icons/Mail.astro"
import BriefcaseIcon from "../icons/Briefcase.astro"
import AppsIcon from "../icons/Apps.astro"
import UserIcon from "../icons/User.astro"
import SendIcon from "../icons/Send.astro"
---

<Layout
    title="👨🏻‍💻 Porfolio de Carlos Capó - Desarrollador y Programador Web"
    description="Conoce a Carlos Capó, Desarrollador Web formándose en el Instituto Tecnológico de Barcelona en un ciclo formativo."
>
    <main>
        <Section class="intro">
            <img class="intro-image" src="/images/profile.webp" alt="Retrato de Carlos Capó">
            <div class="intro-info">
                <h1>Carlos Capó</h1>
                <p class="intro-info-description">Desarrollador web de 18 años en Barcelona, autodidacta y motivado, enfocado en crear soluciones innovadoras con una actitud activa y responsable.</p>
                <div class="intro-socials">
                    <SocialButton href="https://github.com/picuu">
                        <GitHubIcon slot="before" width="24" height="24" />
                        GitHub
                    </SocialButton>

                    <SocialButton href="https://linkedin.com/in/carloscapo">
                        <LinkedInIcon slot="before" width="24" height="24" />
                        LinkedIn
                    </SocialButton>

                    <SocialButton href="mailto:contact@picu.es">
                        <MailIcon slot="before" width="24" height="24" />
                        contact@picu.es
                    </SocialButton>
                </div>
            </div>
        </Section>

        <Section id="experiencia">
            <SectionTitle>
                <BriefcaseIcon width="34" height="34" />
                Experiencia y Formación
            </SectionTitle>
            <Experience />
        </Section>

        <Section id="proyectos">
            <SectionTitle>
                <AppsIcon width="34" height="34" />
                Proyectos
            </SectionTitle>
            <Projects />
        </Section>

        <Section id="sobre-mi">
            <SectionTitle>
                <UserIcon width="34" height="34" />
                Sobre mí
            </SectionTitle>
            <About />
        </Section>

        <Section id="contacto">
            <SectionTitle>
                <SendIcon width="34" height="34" />
                Contacto
            </SectionTitle>
            <Contact />
        </Section>
    </main>
</Layout>

<style is:global>
    section.intro {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        margin-top: 15rem;
        padding-bottom: 12rem;
    }

    .intro-image {
        width: 200px;
        border-radius: 50%;
    }

    .intro-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .intro-info-description {
        max-width: 40ch;
        text-wrap: balance;
    }

    .intro-socials {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        margin-top: 1rem;
    }

    @media (width < 640px) {
        section.intro {
            flex-direction: column;
            align-items: center;
            margin-top: 11rem;
        }

        .intro-image {
            width: 225px;
        }
    }

    @media (width < 584px) {
        section.intro {
            margin-top: 7rem;
        }
    }
</style>
