---
import SocialButton from "./SocialButton.astro";
import DownloadFileIcon from "../icons/DownloadFile.astro";
---

<div class="container">
    <div class="about-info">
        <p>
            Me llamo Carlos Capó, aunque mis amigos me apodan como Picu, tengo 18 años y soy de Menorca. <strong>Estoy cursando mis estudios de Grado Superior en Barcelona</strong>.
        </p>
    
        <p>
            Entre mis éxitos destaco que, durante el Grado Superior como el Medio, ayudé a mis compañeros a entender muchos conceptos y a resolver sus dudas. Me considero buen aprendiz y buen maestro, <strong>me gusta compartir mis conocimientos con los demás</strong>.
        </p>
    
        <p>
            Tengo bastante experiencia con la programación, ya que <strong>llevo aprendiendo de forma autodidacta desde hace 5 años</strong>.
        </p>
    </div>

    <img loading="lazy" src="/images/profile.webp" alt="Retrato de Carlos Capó" />
</div>

<SocialButton href="https://qiwi.lol/vhV68838-CarlosCapo-CV.pdf">
    <DownloadFileIcon size="24" />
    Descargar CV
</SocialButton>

<style>
    .container {
        display: flex;
        align-items: center;
        gap: 4.5rem;
        margin-bottom: 1rem;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    p {
        font-size: calc(var(--fs-300) - .15rem);
    }

    strong {
        font-weight: 400;
        color: var(--clr-lightblue-accent);
    }

    img {
        width: 225px;
        height: 225px;
        border-radius: 100vw;
    }

    @media (width < 640px) {
        .container {
            flex-direction: column-reverse;
            gap: 2.5rem;
            padding-top: 1rem;
        }
    }
</style>