<div></div>

<style>
    div {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120 119 198 / .3), rgba(255 255 255 / 0));
        z-index: -999;
    }
</style>