---
import SocialButton from './SocialButton.astro'
import Social from './Social.astro'

import LinkedInIcon from '../icons/LinkedIn.astro'
import DiscordIcon from '../icons/Discord.astro'
import GitHubIcon from '../icons/GitHub.astro'
---


<p class="info">Puedes enviarme un correo a través de <a class="mail" href="mailto:contact@picu.es">contact@picu.es</a></p>

<div class="socials">
    <Social href="https://github.com/picuu">
        <GitHubIcon width="24" height="24" />
        <span>@picuu</span>
        <p>Mira mis proyectos de código abierto</p>
    </Social>

    <Social href='https://linkedin.com/in/carloscapo'>
        <LinkedInIcon width="24" height="24" />
        <span>@carloscapo</span>
        <p>Conecta conmigo en LinkedIn</p>
    </Social>

    <Social href="https://picu.es/discord">
        <DiscordIcon width="24" height="24" />
        <span>@piicuu</span>
        <p>Envíame un mensaje a través de Discord</p>
    </Social>
</div>

<style>
    .info {
        margin-bottom: 1.25rem;
    }

    .mail {
        color: rgb(176, 195, 255);
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 150ms ease;
    }

    .mail:hover {
        text-decoration-color: currentColor;
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 1rem;
    }

    .socials span {
        margin-top: .9rem;
        margin-bottom: .2rem;
        font-weight: 700;
    }

    .socials p {
        font-size: calc(var(--fs-200) - .06rem);
        font-weight: 300;
        opacity: .75;
    }
</style>