<footer>
    <div>
        <small>© 2024 <a href="/">picu.es</a></small>
    
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li class="mobile-hide"><a href="https://linkedin.com/in/carloscapo" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="https://github.com/picuu/portfolio" target="_blank" rel="noopener noreferrer">Repositorio</a></li>
        </ul>
    </div>
</footer>

<style>
    footer {
        padding: 2rem 0 3rem 0;
    }

    footer > div {
        display: flex;
        justify-content: space-between;
        width: min(65ch, 100% - 4rem);
		margin-inline: auto;
        padding: 1rem 2rem;
        border-radius: 100vw;
        border: 1px solid var(--clr-footer-border);
        background-color: var(--clr-footer-bg);
    }

    small {
        color: var(--clr-yellow);
        font-size: calc(var(--fs-200) - .1rem);
    }

    a {
        color: var(--clr-yellow);
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 100ms ease-in-out;
    }

    a:hover {
        text-decoration-color: currentColor;
    }

    ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        font-size: calc(var(--fs-200) - .1rem);
    }

    @media (width < 460px) {
        footer {
            padding: 1rem 0 1rem 0;
        }

        footer > div {
            /* flex-direction: column-reverse; */
            align-items: center;
            gap: .75rem;
            width: 100% - 2rem;
        }

        .mobile-hide {
            display: none;
        }
    }

    @media (width < 584px) {
        footer {
            padding-top: 0;
            padding-bottom: 3.5rem;
        }
    }

    @media (width < 364px) {
        footer > div {
            flex-direction: column-reverse;
        }
    }
</style>