---
interface Props {
    href: string
}

const { href } = Astro.props
---

<a href={href} target="_blank" rel="noopener noreferrer">
    <slot />
</a>

<style>
    a {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--clr-card-bg);
        border: 2px solid var(--clr-card-border);
        border-radius: .75rem;
        transition: background-color .2s ease-in-out, transform .2s ease-in-out;
    }

    a:hover {
        background-color: var(--clr-card-border);
        transform: translateY(-4px);
        cursor: pointer;
    }
</style>
