---
import Section from "@/layouts/Section.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import Timeline from "@/components/Timeline.astro"

import BriefcaseIcon from "@/icons/Briefcase.astro"
---

<Section id="experiencia">
    <SectionTitle>
        <BriefcaseIcon size="34" />
        Experiencia y Formación
    </SectionTitle>
    <Timeline />
</Section>