---
import Section from "@/layouts/Section.astro"
import SocialButton from "@/components/SocialButton.astro"

import GitHubIcon from "@/icons/GitHub.astro"
import LinkedInIcon from "@/icons/LinkedIn.astro"
import MailIcon from "@/icons/Mail.astro"
---

<Section class="intro">
    <img class="intro-image" src="/images/profile.webp" alt="Retrato de Carlos Capó" width="200" height="200" />
    <div class="intro-info">
        <h1>Carlos Capó</h1>
        <p class="intro-info-description">
            Desarrollador web de 18 años en Barcelona autodidacta y proactivo, motivado a aprender y progresar.
        </p>
        <div class="intro-socials">
            <SocialButton href="https://github.com/picuu">
                <GitHubIcon slot="before" size="24" />
                GitHub
            </SocialButton>

            <SocialButton href="https://linkedin.com/in/carloscapo">
                <LinkedInIcon slot="before" size="24" />
                LinkedIn
            </SocialButton>

            <SocialButton href="mailto:contact@carloscapo.com">
                <MailIcon slot="before" size="24" />
                contact@carloscapo.com
            </SocialButton>
        </div>
    </div>
</Section>

<style>
    :global(section.intro) {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        padding-top: 15rem;
        padding-bottom: 12rem;
    }

    .intro-image {
        width: 200px;
        height: 200px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    .intro-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .intro-info h1 {
        background: linear-gradient(to right, #389cee, #22e9d8);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
        animation: rbg-loop 8s infinite linear;
    }

    @keyframes rbg-loop {
        to {
            filter: hue-rotate(360deg);
        }
    }

    .intro-info-description {
        max-width: 40ch;
        text-wrap: balance;
    }

    .intro-socials {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        margin-top: 1rem;
    }

    @media (width < 640px) {
        section.intro {
            flex-direction: column;
            align-items: center;
            padding-top: 11rem;
        }

        .intro-image {
            width: 225px;
            height: 225px;
            aspect-ratio: 1 / 1;
        }
    }

    @media (width < 560px) {
        section.intro {
            padding-top: 5.5rem;
        }

        .intro-info {
            align-items: center;
            text-align: center;
        }

        .intro-socials {
            justify-content: center;
        }
    }
</style>