---
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/onest';

interface Props {
    title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

		<meta name="color-scheme" content="dark light">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>{title}</title>
		<meta name="description" content={description}>
    </head>
    <body>
		<Header />
        <slot />
		<Footer />
		<Background />
    </body>
</html>

<style is:global>
	:root {
		--clr-text: oklch(92% 0 0);
		--clr-background: oklch(13% 0.0126 255);
		--clr-nav: rgba(55 55 58 / .75);
		--clr-border: rgba(100 100 100 / 0.5);

		--ff-base: 'Onest Variable', system-ui, sans-serif;
		--ff-mono: serif;

		--fs-200: clamp(0.9444rem, 0.9285rem + 0.0795vw, 1rem);
		--fs-300: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
		--fs-400: clamp(1.1956rem, 1.0908rem + 0.5241vw, 1.5625rem);
		--fs-500: clamp(1.345rem, 1.1713rem + 0.8688vw, 1.9531rem);
		--fs-600: clamp(1.5131rem, 1.2479rem + 1.3259vw, 2.4rem);
		--fs-700: clamp(1.7rem, 1.3162rem + 2vw, 2.9rem);
		--fs-800: clamp(1.9144rem, 1.3713rem + 2.8vw, 3.4rem);
	}

	/* --------------- GENERAL STYLES --------------- */

	*, *::before, *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 8rem;
	}

	body {
		min-height: 100dvh;
		background-color: var(--clr-background);
		font-family: var(--ff-base);
		font-size: var(--fs-300);
		line-height: 1.5;
		color: var(--clr-text);
		overflow-x: clip;
	}

	img, svg {
		max-width: 100%;
		display: block;
	}

	main {
		width: min(60ch, 100% - 4rem);
		margin-inline: auto;
	}

	/* --------------- TYPOGRAPHY --------------- */

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
		line-height: 1.2;
	}

	h1 { font-size: calc(var(--fs-800) + .75rem); }

	h2 { font-size: var(--fs-600); }

	h3 { font-size: calc(var(--fs-500) - .15rem); }

	h4 { font-size: var(--fs-300); }

	h5 { font-size: var(--fs-200); }

	h6 { font-size: calc(var(--fs-200) - .15rem); }

	a {
		text-decoration: none;
		color: var(--clr-text);
	}

	p { text-wrap: pretty; }

	/* --------------- MEDIA QUERIES --------------- */

	@media (prefers-color-scheme: light) {
		:root {
			--clr-text: oklch(17% 0 0);
			--clr-background: oklch(95% 0.0125 255);
			--clr-nav: oklch(89% 0.025 270);
		}
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
